
.vs/OpenVRChatHapticFeedback/v16/.suo
OpenVRChatHapticFeedback/bin/Debug/actions.json
OpenVRChatHapticFeedback/bin/Debug/app.publish/OpenVRChatHapticFeedback.exe
OpenVRChatHapticFeedback/bin/Debug/app.vrmanifest
OpenVRChatHapticFeedback/bin/Debug/bindings_knuckles.json
OpenVRChatHapticFeedback/bin/Debug/bindings_oculus_touch.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_controller.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_chest.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_left_elbow.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_left_foot.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_left_knee.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_right_elbow.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_right_foot.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_right_knee.json
OpenVRChatHapticFeedback/bin/Debug/bindings_vive_tracker_waist.json
OpenVRChatHapticFeedback/bin/Debug/HapticAnimations.json
OpenVRChatHapticFeedback/bin/Debug/log4net.xml
OpenVRChatHapticFeedback/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.xml
OpenVRChatHapticFeedback/bin/Debug/Microsoft.Extensions.Logging.Abstractions.xml
OpenVRChatHapticFeedback/bin/Debug/Microsoft.Extensions.Logging.xml
OpenVRChatHapticFeedback/bin/Debug/Microsoft.Extensions.Options.xml
OpenVRChatHapticFeedback/bin/Debug/Microsoft.Extensions.Primitives.xml
OpenVRChatHapticFeedback/bin/Debug/Newtonsoft.Json.xml
OpenVRChatHapticFeedback/bin/Debug/OpenVRChatHapticFeedback.application
OpenVRChatHapticFeedback/bin/Debug/OpenVRChatHapticFeedback.exe
OpenVRChatHapticFeedback/bin/Debug/OpenVRChatHapticFeedback.exe.config
OpenVRChatHapticFeedback/bin/Debug/OpenVRChatHapticFeedback.exe.manifest
OpenVRChatHapticFeedback/bin/Debug/OpenVRChatHapticFeedback.pdb
OpenVRChatHapticFeedback/bin/Debug/Serilog.Extensions.Logging.xml
OpenVRChatHapticFeedback/bin/Debug/Serilog.xml
OpenVRChatHapticFeedback/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
OpenVRChatHapticFeedback/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
OpenVRChatHapticFeedback/obj/Debug/App.g.cs
OpenVRChatHapticFeedback/obj/Debug/App.g.i.cs
OpenVRChatHapticFeedback/obj/Debug/Costura/03A226739CEA1CE1332707F53D9A23731B5619EB.costura.meebey.smartirc4net.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/0480279F370EE969492EC76F64F0FD2B9209C931.costura.serilog.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/0BD6D53BC731CC4360C117FF37897FA5CC10A019.costura.twitchlib.client.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/0EB5ADCAA06323549DE9901CBABEE147B6E40EDE.costura.starksoftproxy.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/16835813A4BC3339D4B8044460FA646369E32C19.costura.websocket4net.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/212628D9551D605CFDD47F1A48690EC85DDDBBFE.costura.microsoft.extensions.options.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/2E2AF025D07717877EB5C9F08E8CEC4C870595A7.costura.twitchlib.api.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/33073CA6D81798019EA06546F4150C056B316B1D.costura.twitchlib.api.interfaces.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/37150757DCB0D1E2A5D080F91C1AD8BE330239A1.costura.gregsstack.inputsimulatorstandard.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/3E3DDF9AE18D41CF2BC44CD4B19539816B205FF6.costura.microsoft.extensions.logging.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/5954E332EC7732BA34C27E2D88D154D1919C1B07.costura.costura.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/70ED8EE6630E547125267DFB19FD2B14A0875EA6.costura.microsoft.extensions.dependencyinjection.abstractions.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/7298CC525803AD72BA022A5539B3E2F88C4BBC36.costura.serilog.extensions.logging.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/74A1239C7F76CE8466CFDA47E8EC7DC74BACB718.costura.twitchlib.client.models.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/7D0AD03FBDA1C24F883116B940717E596073AE96.costura.newtonsoft.json.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/7D9F90E8DA62F9834F532E9A0ABA54969C14EC28.costura.supersocket.clientengine.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/7E69F653A2D5DEC799DFB4F8E8575B27401DF41D.costura.twitchlib.client.enums.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/82CDE65A7514C0E465EE0D505BE56C56639FF0B1.costura.log4net.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/94E36AA7B789BF7433E31F57AF3D2A54CE2E74BD.costura.twitchlib.pubsub.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/A95854EFED1C43F7D95372EBCC09AB5DE83B094B.costura.twitchlib.api.enums.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/B6606F6BEB39A2F1645E20996307C21DB1C569FA.costura.microsoft.extensions.primitives.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/BA181221ADD6B9E0C0A72E96C3F5A6A852C6920F.costura.microsoft.extensions.logging.abstractions.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/C2E308CB2D4F05DE9F5316F1552B8C72F849267E.costura.twitchlib.api.models.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/Costura/CAF661A9861E7F074FF98360E0557ADA0E0696F1.costura.system.runtime.compilerservices.unsafe.dll.compressed
OpenVRChatHapticFeedback/obj/Debug/DesignTimeResolveAssemblyReferences.cache
OpenVRChatHapticFeedback/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OpenVRChatHapticFeedback/obj/Debug/MainWindow.baml
OpenVRChatHapticFeedback/obj/Debug/MainWindow.g.cs
OpenVRChatHapticFeedback/obj/Debug/MainWindow.g.i.cs
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.application
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.csproj.AssemblyReference.cache
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.csproj.CopyComplete
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.csproj.CoreCompileInputs.cache
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.csproj.FileListAbsolute.txt
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.csproj.Fody.CopyLocal.cache
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.csproj.GenerateResource.cache
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.exe
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.exe.manifest
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.g.resources
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.pdb
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback.Properties.Resources.resources
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback_MarkupCompile.cache
OpenVRChatHapticFeedback/obj/Debug/OpenVRChatHapticFeedback_MarkupCompile.lref
OpenVRChatHapticFeedback/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/OpenVRChatHapticFeedback/v16/.suo
